@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Angelface;
  src: url("assets/fonts/Angelface.otf") format("opentype");
}

@font-face {
  font-family: Kaoly;
  src: url("assets/fonts/Kaoly.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-pink {
  background-color: #E78C98 !important;
}

.text-pink {
  color: #E78C98 !important;
}

.pos-bubble {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-position-y: bottom;
}

.input-pink {
  background-color: rgb(231 140 152)!important;
}

.swiper-pagination-bullet-active {
  background-color: #E78C98 !important;
}

.testimonial-text-container{
  width: 85%;
  margin: 0 auto;
}

.h-line {
  color: #30343F;
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .testimonial-text-container {
    width: 75%;
  }
}


@media (min-width: 1024px) and (orientation: landscape) and (pointer: coarse) {
  .irina-img-container {
    align-self: end;
  }
  
  .irina-desk {
    width: 100% !important;
  }

  .irina-text-container {
    padding: 2rem 0 !important;
  }

  .hide-on-landspace {
    display: none;
  }
}