@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Angelface;
  src: url("assets/fonts/Angelface.otf") format("opentype");
}

@font-face {
  font-family: Kaoly;
  src: url("assets/fonts/Kaoly.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pos-bubble {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  background-position-y: bottom;
}

.input-pink {
  background-color: rgb(231 140 152)!important;
}